In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

# Import our input dataset
attrition_df = pd.read_csv('HR-Employee-Attrition.csv')
attrition_df.head()

C:\Users\michael1005\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\michael1005\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\michael1005\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\michael1005\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\michael1005\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\michael1005\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\michael1005\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\michael1005\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\michael1005\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\michael1005\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\michael1005\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\michael1005\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [2]:
# Generate our categorical variable list
attrition_cat = attrition_df.dtypes[attrition_df.dtypes == "object"].index.tolist()

In [3]:
# Check the number of unique values in each column
attrition_df[attrition_cat].nunique()

Attrition         2
BusinessTravel    3
Department        3
EducationField    6
Gender            2
JobRole           9
MaritalStatus     3
Over18            1
OverTime          2
dtype: int64

In [4]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(attrition_df[attrition_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(attrition_cat)
encode_df.head()

,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [5]:
#Merge one-hot encoded features and drop the originals
attrition_df = attrition_df.merge(encode_df,left_index=True, right_index=True)
attrition_df = attrition_df.drop(attrition_cat,1)
attrition_df.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,2,3,61,2,2,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,4,92,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,5,4,56,3,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,7,1,40,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [6]:
# Split our preprocessed data into our features and target arrays
y = attrition_df["Attrition_Yes"].values
X = attrition_df.drop(["Attrition_Yes","Attrition_No"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [7]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [8]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

WARNING:tensorflow:From C:\Users\michael1005\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\ops\init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 8)                 448
_________________________________________________________________
dense_1 (Dense)              (None, 5)                 45
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 6
=================================================================
Total params: 499
Trainable params: 499
Non-trainable params: 0
_________________________________________________________________

In [9]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

WARNING:tensorflow:From C:\Users\michael1005\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [10]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=100)

Epoch 1/100
1102/1102 [==============================] - 0s 312us/sample - loss: 275.3493 - acc: 0.5281
Epoch 2/100
1102/1102 [==============================] - 0s 138us/sample - loss: 125.7109 - acc: 0.6597
Epoch 3/100
1102/1102 [==============================] - 0s 93us/sample - loss: 82.2455 - acc: 0.6461
Epoch 4/100
1102/1102 [==============================] - 0s 114us/sample - loss: 59.2608 - acc: 0.6724
Epoch 5/100
1102/1102 [==============================] - 0s 184us/sample - loss: 43.2109 - acc: 0.6751
Epoch 6/100
1102/1102 [==============================] - 0s 117us/sample - loss: 33.2620 - acc: 0.7087
Epoch 7/100
1102/1102 [==============================] - 0s 121us/sample - loss: 23.6593 - acc: 0.7096
Epoch 8/100
1102/1102 [==============================] - 0s 80us/sample - loss: 16.2273 - acc: 0.7187
Epoch 9/100
1102/1102 [==============================] - 0s 72us/sample - loss: 10.2994 - acc: 0.7260
Epoch 10/100
1102/1102 [==============================] - 0s 79us/sample - loss: 7.4636 - acc: 0.7269
Epoch 11/100
1102/1102 [==============================] - 0s 74us/sample - loss: 5.7032 - acc: 0.7269
Epoch 12/100
1102/1102 [==============================] - 0s 77us/sample - loss: 7.1862 - acc: 0.7278
Epoch 13/100
1102/1102 [==============================] - 0s 63us/sample - loss: 3.8525 - acc: 0.7377
Epoch 14/100
1102/1102 [==============================] - 0s 74us/sample - loss: 2.6855 - acc: 0.7505
Epoch 15/100
1102/1102 [==============================] - 0s 73us/sample - loss: 4.2573 - acc: 0.7377
Epoch 16/100
1102/1102 [==============================] - 0s 71us/sample - loss: 2.9601 - acc: 0.7659
Epoch 17/100
1102/1102 [==============================] - 0s 70us/sample - loss: 3.7290 - acc: 0.7468
Epoch 18/100
1102/1102 [==============================] - 0s 150us/sample - loss: 4.7933 - acc: 0.7423s - loss: 5.5750 - acc: 0.794
Epoch 19/100
1102/1102 [==============================] - 0s 86us/sample - loss: 1.9696 - acc: 0.7623
Epoch 20/100
1102/1102 [==============================] - 0s 74us/sample - loss: 2.6525 - acc: 0.7523
Epoch 21/100
1102/1102 [==============================] - ETA: 0s - loss: 1.6778 - acc: 0.740 - 0s 74us/sample - loss: 1.5320 - acc: 0.7613
Epoch 22/100
1102/1102 [==============================] - 0s 90us/sample - loss: 4.4428 - acc: 0.7486
Epoch 23/100
1102/1102 [==============================] - 0s 82us/sample - loss: 4.3503 - acc: 0.7559
Epoch 24/100
1102/1102 [==============================] - 0s 122us/sample - loss: 3.6039 - acc: 0.7595
Epoch 25/100
1102/1102 [==============================] - 0s 136us/sample - loss: 6.6051 - acc: 0.7305
Epoch 26/100
1102/1102 [==============================] - 0s 73us/sample - loss: 3.0205 - acc: 0.7623
Epoch 27/100
1102/1102 [==============================] - 0s 90us/sample - loss: 2.6234 - acc: 0.7505
Epoch 28/100
1102/1102 [==============================] - 0s 76us/sample - loss: 2.4605 - acc: 0.7423
Epoch 29/100
1102/1102 [==============================] - 0s 61us/sample - loss: 2.7805 - acc: 0.7332
Epoch 30/100
1102/1102 [==============================] - 0s 67us/sample - loss: 3.8107 - acc: 0.7287
Epoch 31/100
1102/1102 [==============================] - 0s 70us/sample - loss: 4.5604 - acc: 0.7604
Epoch 32/100
1102/1102 [==============================] - 0s 66us/sample - loss: 1.4175 - acc: 0.7777
Epoch 33/100
1102/1102 [==============================] - 0s 70us/sample - loss: 2.7594 - acc: 0.7468
Epoch 34/100
1102/1102 [==============================] - 0s 85us/sample - loss: 2.6425 - acc: 0.7559
Epoch 35/100
1102/1102 [==============================] - 0s 77us/sample - loss: 3.3394 - acc: 0.7604
Epoch 36/100
1102/1102 [==============================] - 0s 69us/sample - loss: 2.8968 - acc: 0.7514
Epoch 37/100
1102/1102 [==============================] - 0s 80us/sample - loss: 1.6633 - acc: 0.7577
Epoch 38/100
1102/1102 [==============================] - 0s 110us/sample - loss: 1.4737 - acc: 0.7731
Epoch 39/100
1102/1102 [==============================] - 0s 114us/sample - loss: 1.5663 - acc: 0.7786
Epoch 40/100
1102/1102 [==============================] - 0s 106us/sample - loss: 3.1123 - acc: 0.7632
Epoch 41/100
1102/1102 [==============================] - 0s 91us/sample - loss: 6.1693 - acc: 0.7541
Epoch 42/100
1102/1102 [==============================] - 0s 99us/sample - loss: 3.0125 - acc: 0.7314
Epoch 43/100
1102/1102 [==============================] - 0s 74us/sample - loss: 3.9266 - acc: 0.7523
Epoch 44/100
1102/1102 [==============================] - 0s 81us/sample - loss: 1.0017 - acc: 0.7913
Epoch 45/100
1102/1102 [==============================] - 0s 80us/sample - loss: 1.6177 - acc: 0.7777
Epoch 46/100
1102/1102 [==============================] - 0s 78us/sample - loss: 1.5543 - acc: 0.7650
Epoch 47/100
1102/1102 [==============================] - 0s 82us/sample - loss: 1.6856 - acc: 0.7713
Epoch 48/100
1102/1102 [==============================] - 0s 113us/sample - loss: 1.4513 - acc: 0.7695
Epoch 49/100
1102/1102 [==============================] - 0s 86us/sample - loss: 3.5239 - acc: 0.7586
Epoch 50/100
1102/1102 [==============================] - 0s 303us/sample - loss: 3.2047 - acc: 0.7641s - loss: 4.2008 - acc: 0.
Epoch 51/100
1102/1102 [==============================] - 0s 101us/sample - loss: 2.2021 - acc: 0.7541
Epoch 52/100
1102/1102 [==============================] - 0s 75us/sample - loss: 1.3879 - acc: 0.7958
Epoch 53/100
1102/1102 [==============================] - 0s 80us/sample - loss: 3.6608 - acc: 0.7087
Epoch 54/100
1102/1102 [==============================] - 0s 73us/sample - loss: 2.3539 - acc: 0.7486
Epoch 55/100
1102/1102 [==============================] - 0s 84us/sample - loss: 1.3528 - acc: 0.7822
Epoch 56/100
1102/1102 [==============================] - 0s 63us/sample - loss: 2.0922 - acc: 0.7659
Epoch 57/100
1102/1102 [==============================] - 0s 67us/sample - loss: 1.8782 - acc: 0.7641
Epoch 58/100
1102/1102 [==============================] - 0s 64us/sample - loss: 1.1928 - acc: 0.7804
Epoch 59/100
1102/1102 [==============================] - 0s 64us/sample - loss: 4.3686 - acc: 0.7332
Epoch 60/100
1102/1102 [==============================] - 0s 60us/sample - loss: 4.8294 - acc: 0.7586
Epoch 61/100
1102/1102 [==============================] - 0s 61us/sample - loss: 2.7609 - acc: 0.7532
Epoch 62/100
1102/1102 [==============================] - 0s 75us/sample - loss: 1.7288 - acc: 0.7350
Epoch 63/100
1102/1102 [==============================] - 0s 71us/sample - loss: 2.4958 - acc: 0.7777
Epoch 64/100
1102/1102 [==============================] - 0s 62us/sample - loss: 1.3858 - acc: 0.7768
Epoch 65/100
1102/1102 [==============================] - 0s 68us/sample - loss: 2.1155 - acc: 0.7604
Epoch 66/100
1102/1102 [==============================] - 0s 81us/sample - loss: 1.2026 - acc: 0.7659
Epoch 67/100
1102/1102 [==============================] - 0s 70us/sample - loss: 0.7213 - acc: 0.8140
Epoch 68/100
1102/1102 [==============================] - 0s 63us/sample - loss: 2.1403 - acc: 0.7541
Epoch 69/100
1102/1102 [==============================] - 0s 77us/sample - loss: 2.1119 - acc: 0.7831
Epoch 70/100
1102/1102 [==============================] - 0s 90us/sample - loss: 2.8530 - acc: 0.7559
Epoch 71/100
1102/1102 [==============================] - 0s 83us/sample - loss: 3.3542 - acc: 0.7559
Epoch 72/100
1102/1102 [==============================] - 0s 73us/sample - loss: 2.5358 - acc: 0.7632
Epoch 73/100
1102/1102 [==============================] - 0s 70us/sample - loss: 1.6535 - acc: 0.7523
Epoch 74/100
1102/1102 [==============================] - 0s 62us/sample - loss: 2.5999 - acc: 0.7795
Epoch 75/100
1102/1102 [==============================] - 0s 65us/sample - loss: 2.3934 - acc: 0.7505
Epoch 76/100
1102/1102 [==============================] - 0s 71us/sample - loss: 1.8571 - acc: 0.7740
Epoch 77/100
1102/1102 [==============================] - 0s 64us/sample - loss: 1.7110 - acc: 0.7686
Epoch 78/100
1102/1102 [==============================] - 0s 78us/sample - loss: 0.9791 - acc: 0.7858
Epoch 79/100
1102/1102 [==============================] - 0s 73us/sample - loss: 1.0009 - acc: 0.8076
Epoch 80/100

1102/1102 [==============================] - 0s 80us/sample - loss: 1.9776 - acc: 0.7559
Epoch 81/100
1102/1102 [==============================] - 0s 90us/sample - loss: 4.1262 - acc: 0.7405
Epoch 82/100
1102/1102 [==============================] - 0s 70us/sample - loss: 2.4270 - acc: 0.7659
Epoch 83/100
1102/1102 [==============================] - 0s 62us/sample - loss: 3.7655 - acc: 0.7604
Epoch 84/100
1102/1102 [==============================] - 0s 71us/sample - loss: 2.2681 - acc: 0.7523
Epoch 85/100
1102/1102 [==============================] - 0s 81us/sample - loss: 0.9522 - acc: 0.8049
Epoch 86/100
1102/1102 [==============================] - 0s 86us/sample - loss: 1.7679 - acc: 0.7768
Epoch 87/100
1102/1102 [==============================] - 0s 82us/sample - loss: 0.9074 - acc: 0.7940
Epoch 88/100
1102/1102 [==============================] - 0s 81us/sample - loss: 1.2743 - acc: 0.7913
Epoch 89/100
1102/1102 [==============================] - 0s 86us/sample - loss: 3.1205 - acc: 0.7414
Epoch 90/100
1102/1102 [==============================] - 0s 181us/sample - loss: 2.9744 - acc: 0.7604
Epoch 91/100
1102/1102 [==============================] - 0s 111us/sample - loss: 3.6908 - acc: 0.7477
Epoch 92/100
1102/1102 [==============================] - 0s 84us/sample - loss: 3.4971 - acc: 0.7704
Epoch 93/100
1102/1102 [==============================] - 0s 113us/sample - loss: 2.6328 - acc: 0.7641
Epoch 94/100
1102/1102 [==============================] - 0s 113us/sample - loss: 2.1840 - acc: 0.7677
Epoch 95/100
1102/1102 [==============================] - 0s 120us/sample - loss: 2.2264 - acc: 0.7387
Epoch 96/100
1102/1102 [==============================] - 0s 78us/sample - loss: 2.9289 - acc: 0.7450
Epoch 97/100
1102/1102 [==============================] - 0s 121us/sample - loss: 2.9443 - acc: 0.7704
Epoch 98/100
1102/1102 [==============================] - 0s 109us/sample - loss: 1.8944 - acc: 0.7550
Epoch 99/100
1102/1102 [==============================] - 0s 71us/sample - loss: 1.9178 - acc: 0.7668
Epoch 100/100
1102/1102 [==============================] - 0s 87us/sample - loss: 0.8903 - acc: 0.7922

In [11]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

368/368 - 0s - loss: 1.2807 - acc: 0.8723
Loss: 1.2807465765787207, Accuracy: 0.8722826242446899

In [12]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import pandas as pd
import tensorflow as tf

# Import our input dataset
diabetes_df = pd.read_csv('diabetes.csv')
diabetes_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [13]:
# Remove diabetes outcome target from features data
y = diabetes_df.Outcome
X = diabetes_df.drop(columns="Outcome")

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [14]:
# Preprocess numerical data for neural network

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [15]:
# Define the logistic regression model
log_classifier = LogisticRegression(solver="lbfgs",max_iter=200)

# Train the model
log_classifier.fit(X_train,y_train)

# Evaluate the model
y_pred = log_classifier.predict(X_test)
print(f" Logistic regression model accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Logistic regression model accuracy: 0.729

In [25]:
# Define the basic neural network model
nn_model = tf.keras.models.Sequential()
nn_model.add(tf.keras.layers.Dense(units=16, activation="relu", input_dim=8))
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

In [26]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

In [27]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Create a callback that saves the model's weights every 5 epochs
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq=1000)

# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100,callbacks=[cp_callback])

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

ValueError: Error when checking input: expected dense_input to have shape (55,) but got array with shape (8,)